<li class="list-group-item px-0 <% @dados ? $dados[:color] : "" %> clone-project <% @dados.nil? ? " d-none" : "" %>">
    <div class="row justify-content-between mw-100 no-gutters">
        <div class="project-update row justify-content-between mw-100 no-gutters w-100">
            <div data-toggle="collapse" data-target="#proj<% @dados.nil? ? '' : $dados[:id] %>" class="accordion-toggle collapsed col-md-1" >
                <i class="fas fa-chevron-down cursor-pointer"></i>
            </div>
            <div class="col-md col-12">
                <input type="text" name="name" class="form-control transparent" data-pname value="<% @dados.nil? ? '' : $dados[:name] %>">
            </div>
            <div class="col-md col-sm-6">
                <input type="text" name="date_in" class="form-control transparent" data-pdatein value="<% @dados.nil? ? '' : $dados[:date_in] %>">
            </div>
            <div class="col-md col-sm-6">
                <input type="text" name="date_end" class="form-control transparent" data-pdateend value="<% @dados.nil? ? '' : $dados[:date_end] %>">
            </div>
            <div class="col-md-2 pr-md-5 px-5 pl-md-0 my-4 my-md-0"><%= progress(@dados ? @dados[:progress] : 0) %></div>
            <div class="col-md-1">
                <div class="row justify-content-center align-items-center no-gutters mx-auto">
                    <div class="text-center col-auto mr-4">
                        <a href="#" data-href=" url('/project/delete/') . (@dados ? $dados['id'] : '') " data-toggle="modal" data-target="#confirm-delete">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <div class="text-center col-auto">
                        <a href="javascript:void(0);" class="update-project" data-id="<% @dados.nil? ? '' : $dados[:id] %>">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>      
            </div>
        </div>
        <div class="task accordian-body collapse col-12" id="proj<% @dados.nil? ? '' : $dados[:id] %>">      
            <ul class="list-group list-group-flush">
                <!-- Tasks -->
                <li class="list-group-item mt-3">
                    <form action="" data-id="add-task" method="POST">
                        <div class="row justify-content-between mw-100 form-group mb-0 align-items-center">
                            <div class="col-md-1 my-2 my-md-0"><input type="checkbox" name="checked" class="form-control" disabled></div>
                            <div class="col-12 col-md mb-2 mb-md-0">
                                <input data-pname class="form-control" placeholder="Nome" type="text" name="name" required>
                            </div>
                            <div class="col-6 col-md">
                                <input data-pdatein class="form-control" type="text" placeholder="00/00/0000 00:00:00" name="date_in" required>
                            </div>
                            <div class="col-6 col-md">
                                <input data-pdateend class="form-control" type="text" placeholder="00/00/0000 00:00:00" name="date_end" required>
                            </div>
                            <div class="col-auto mt-2 mt-md-0 col-lg-1 col-md-2 mlauto">
                                <input type="hidden" name="project_id" value="<% @dados ? $dados['id'] : '' %>">
                                <input type="submit" class="btn btn-success" value="Adicionar">
                            </div>                               
                        </div>
                    </form>
                </li>
                <% if @dados && @dados[:tasks] %>
                    <% @dados[:tasks].each do | task | %>
                        <%= render 'tasks', task: @task %>
                    <% end %>
                <% else %>
                    <%= render 'tasks' %>
                <% end %>
            </ul>
        </div>
    </div>
</li>