<div class="row align-items-center mb-2 bg-primary-light py-5 mb-5">
    <div class="col-lg-12 text-center">
        <h1>Projetos</h1>
    </div>
</div>
<div id="home" class="container mb-5">
    <div class="ml-auto col-12 col-md-4 mb-5">
        <?= progress($progress, 'Atividades concluídas (%)') ?>
    </div>
    <div class="ml-auto col-12 col-md-4 mb-5">
        <?= progress($project_progress, 'Projetos concluídos (%)') ?>
    </div>
    <div class="col-12 mb-2">
        <div class="row justify-content-sm-end justify-content-center">
            <span class="squad red mr-4 pr-2">Terminará com atraso</span>
            <span class="squad green mr-4 pr-2">Finalizado</span>
            <span class="squad white">Em andamento</span>
        </div>
    </div>
    <div class="card w-100 mb-5 text-center project">
        <div class="card-header overflow-group">
            <div class="row justify-content-between">
                <div class="col-auto col-sm-2 col-xl-1">Tarefas</div>
                <div class="col-auto col-sm">Nome</div>
                <div class="col-auto col-sm">Início</div>
                <div class="col-auto col-sm">Fim</div>
                <div class="col-auto col-sm d-md-block d-none">Progresso</div>
                <div class="col-auto col-lg-1">Ações</div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <%= form_for Project.new, data: { id: "add-project" } do | form | %>
                    <div class="row justify-content-between mw-100 form-group align-items-center mb-0">
                        <div class="col-1 d-none d-md-block">
                            <div class="btn btn-secondary" title="Cadastre um projeto para inserir tarefas">
                                <i class="fas fa-info"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md mb-2 mb-md-0">
                            <input class="form-control" placeholder="Nome" type="text" name="name" required>
                        </div>
                        <div class="col-6 col-md">
                            <input class="form-control" type="text" placeholder="00/00/0000 00:00:00" name="date_in" required>
                        </div>
                        <div class="col-6 col-md">
                            <input class="form-control" type="text" placeholder="00/00/0000 00:00:00" name="date_end" required>
                        </div>
                        <div class="col-6 col-md-2 pl-md-4 d-md-block d-none">
                            <?= progress(0); ?>
                        </div>
                        <div class="col-auto mt-2 mt-md-0 col-lg-1 col-md-2 mlauto">
                            <input type="submit" class="btn btn-primary" value="Adicionar">
                        </div>
                    </div>
                <% end %>
            </li>
            <% unless @projects.empty? %>
                <% @projects.each do | dados | %>
                    <%= render 'list', project: @dados %>
                <% end %>
            <% else %>
                <%= render 'list' %>
            <% end %>
        </ul>
    </div>
</div>
